[Unit]
Description=BURSH kiosk fullscreen browser session
After=bursh-web.service
Requires=bursh-web.service

[Service]
Type=simple
User=bursh
Environment=HOME=/home/bursh
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
WorkingDirectory=/home/bursh
ExecStart=/usr/bin/xinit /usr/local/bin/start-bursh-kiosk.sh -- :0 vt1 -nolisten tcp
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
